<header>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">KPE Frontend Angular</a>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/{{products}}">{{products}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/{{dashboard}}">{{dashboard}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center p-4 border-bottom" style="background-color: rgba(255, 255, 255, 0.1);">
    <div class="me-5 d-none d-lg-block">
      <span>Connect with me on social media</span>
    </div>
    <div>
      <a href="https://www.facebook.com/jan.koszela/" class="me-4 text-reset">
        <i class="fab fa-facebook-f fa-2x social-icon facebook"></i>
      </a>
      <a href="https://www.linkedin.com/in/jan-koszela-6bb38583/" class="me-4 text-reset">
        <i class="fab fa-linkedin fa-2x social-icon linkedin"></i>
      </a>
      <a href="https://github.com/pawellinkshell/KpeFrontendAngular" class="me-4 text-reset">
        <i class="fab fa-github fa-2x social-icon github"></i>
      </a>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>KPE Frontend Angular
          </h6>
          <p>
            tl;dr; just simple skill sample with Angular 17.0 and Bootstrap 5 on board :)
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Techstack
          </h6>
          <p>
            <a href="https://angular.io/docs" class="text-reset footer-link">Angular 17</a>
          </p>
          <p>
            <a href="https://ng-bootstrap.github.io/#/home" class="text-reset footer-link">Bootstrap 5</a>
          </p>
          <p>
            <a href="https://www.w3schools.com/html/" class="text-reset footer-link">HTML 5</a>
          </p>
          <p>
            <a href="https://www.w3schools.com/css/" class="text-reset footer-link">CSS 3.0</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Usefully links
          </h6>
          <p>
            <a href="/{{products}}" class="text-reset">Products</a>
          </p>
          <p>
            <a href="/{{dashboard}}" class="text-reset">Dashboard</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Wrocław, Poland</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            jan.koszela&#64;gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 48 694 874 331</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 KPE Frontend Angular. Copyright by Jan Koszela.
  </div>
</footer>
